<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Log in</title>

    <!-- Custom styles for this template -->
    <link href="css/smartpark.css" rel="stylesheet">
    <script type="text/javascript" src="scripts/postInfo.js"></script>

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href='/'>Parking Smarter</a>
		</div><!--Header-->
		<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li><a href= "/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/viewParkingMap">View Parking Maps</a></li>
			<li><a href="/viewParkingSpots">View Parking Stats</a></li>
		</ul>
		</div><!--collapse-->
	</div><!--container-fluid-->
</div><!--navfixed top-->
<div id="failureModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p>Incorrect UserName or Password</p>
				<h3 class="modal-title">Woops!</h3>			
			</div>
			<div class="modal-body">
				<p>Please Click either "login" or "create account"
				to be redirected to where you need to go</p>
			</div>
			<div class="modal-footer">
				<a class="btn btn-success" href="/login" role="button">Login</a>
				<a class="btn btn-default" href="/CreateAccount">CreateAccount</a>
				<button type="button" class="btn btn-default" data-dismiss="modal" onClick="location.reload('true')">Close</button><!--Relocate to .js-->
			</div>
		</div>
	</div>
</div><!--Modal div-->
<div class="jumbotron" style="padding-top:60px;">
<div class="container">
	<h3 class = "form-signin-heading">Please enter your login information</h3>
	<form class="form-signin">
		<input type="text" class="form-control" id="usernamein" placeholder="Username" required autofocus>
		<input type="password" class="form-control" id="password" placeholder="Password" required autofocus>
		<button type="button" onclick="postInfo()" class="btn btn-success">Submit</button>
		<a class="btn btn-default" href="/CreateAccount">Create Account</a>
	</form>	
</div><!--container-->
</div><!--jumbotron-->
<!--Fixed Footer for all webpages-->
<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="containter">
		<div class="navbar-text pull-left">
		<p>Parking Smarter 2017.</p>
		</div>
	</div>
</div>
   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
